body{
  background-color: white;
  }

.Action {
  text-align: center;   
  width: 300px;  
  height: 325px;  
  padding-top: 15px; 
  margin-left: 21px;
  margin-right: 15px;
  margin-top: 15px;
  font-size: 3em;
  font-family: Times, serif;
  background-image: url(image1.jpg);
  background-size: cover;
  border-radius: 150px;
  border-color: white;
  color: white
}

.Animation {
  text-align: center;    
  width: 300px;  
  height: 325px;  
  padding-top: 15px; 
  margin-left: 21px;
  margin-right: 15px;
  margin-top: 15px;
  font-size: 3em;
  font-family: Times, serif;
  background-image: url(image2.jpg);
  background-size: cover;
  border-radius: 150px;
  border-color: white;
  color: white
}

.Biography {
  text-align: center;  
  width: 300px;  
  height: 325px;  
  padding-top: 15px; 
  margin-left: 21px;
  margin-right: 15px;
  margin-top: 15px;
  font-size: 3em;
  font-family: Times, serif;  
  background-image: url(image3.jpeg);
  background-size: cover;
  border-radius: 150px;
  color: white
}

.Comedy {
  text-align: center;  
  width: 300px;  
  height: 325px;  
  padding-top: 15px; 
  margin-left: 21px;
  margin-right: 15px;
  margin-top: 15px;
  font-size: 3em;
  font-family: Times, serif;
  background-image: url(image4.jpg);
  background-size: cover;
  border-radius: 150px;
  color: white
  
}

.Crime {
  text-align: center;  
  width: 300px;  
  height: 325px;  
  padding-top: 15px; 
  margin-left: 21px;
  margin-right: 15px;
  margin-top: 15px;
  font-size: 3em;
  font-family: Times, serif;
  background-image: url(image5.jpg);
  background-size: cover;
  border-radius: 150px;
  color: white
}

.SuperHeros {
  text-align: center;  
  width: 300px;  
  height: 325px;  
  padding-top: 15px;
  margin-left: 21px;
  margin-right: 15px;
  margin-top: 15px; 
  font-size: 3em;
  font-family: Times, serif;
  background-image: url(image6.jpg);
  background-size: cover;
  border-radius: 150px;
  color: white
}

.Drama{
  text-align: center;  
  width: 300px;  
  height: 325px;  
  padding-top: 15px;
  margin-left: 21px;
  margin-right: 15px;
  margin-top: 15px; 
  font-size: 3em;
  font-family: Times, serif;
  background-image: url(image7.jpg);
  background-size: cover;
  border-radius: 150px;
  color: white
}

.Music {
  text-align: center;  
  width: 300px;  
  height: 325px;  
  padding-top: 15px;
  margin-left: 21px;
  margin-right: 15px;
  margin-top: 15p; 
  font-size: 3em;
  font-family: Times, serif;
  background-image: url(image8.jpeg);
  background-size: cover;
  border-radius: 150px;
  color: white
}



 