@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');    
 
    body {
    font-family: verdana;
    margin-left: 30px;
    margin-right: 30px;
    }

    hr {
    size: 4px;
    }

    p.portions {
    size: 20px;
    font-weight: bold;
    }


body {
    font-family: verdana;
    margin-left: 30px;
    margin-right: 30px;
    }

    hr {
    size: 4px;
    }

    p.portions {
    size: 20px;
    font-weight: bold;
    }

html * {
    font-family: 'Roboto', sans-serif !important;
}

html {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7ecf0;
}

article, body {
    display: inline-block;
    width: max-content !important;
    background-color: #ffffff !important;
    box-shadow: 0 3px 6px #0000006c;
    border-radius: 15px;
    padding: 1.5em 2em;
}

a {
    text-decoration: none;
}

p.name {
    font-weight: 600;
}

p.titles {
    margin-bottom: 0  !important;
}

hr {
    margin-bottom: 0  !important;
    width: 100% !important;
    background-color: #9fc5e6 !important;
    border: none !important;
    height: 1.5px
}


li {
    line-height: 2em !important;

}

img {
    border: 1px solid #00000056 !important;
    border-radius: 15px;
    box-shadow: 0 0 4px #0000004a;
}